<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enomy Finances | Currency Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exchange.css') }}">
    <script src="/static/js/convert.js" defer></script>
    
</head>
<body>
    
    {% include 'navbar.html'%}
    <div class="content">
        <h2>Enomy Finances | Exchange</h2>
        <div class="inputBox">
                <h3>Currency Conversion</h3>
                <div class="userInput">
                <label for="baseCurr">Base Currency:</label>
                <select id="baseCurr" name="baseCurr">
                    <option value="GBP">Great British Pounds</option>
                    <option value="USD">US Dollars</option>
                    <option value="EUR">Euro</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="JPY">Japenese Yen</option>
                    <option value="TRY">Turkish Lira</option>
                </select><br></div>
                <div class="userInput">
                <label for="conCurr">Target Currency:</label>
                <select id="conCurr" name="conCurr">
                    <option value="GBP">Great British Pounds</option>
                    <option value="USD">US Dollars</option>
                    <option value="EUR">Euro</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="JPY">Japenese Yen</option>
                    <option value="TRY">Turkish Lira</option>
                </select><br></div>
                <div class="userInput">
                <label for="baseAmount">Starting Amount:</label>
                <input name="baseAmount" id="baseAmount" type="number">
                </div>
                <div class="buttonContainer">
                    <br><button type="button" id="buttSub" onclick="UpdateConversion()">Convert Now</button>
                </div>
            <p id="converted"></p>
        </div>
        <div class="exchange graph">
            //this shows historical rates for 14 days as of rn
        </div>
    </div>
    
   
</body>
</html>