<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enomy Finances | Currency Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exchange.css') }}">
    <script src="/static/js/convert.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"defer></script>
</head>
<body>
    
    {% include 'navbar.html'%}
    <div class="content">
        <h2>Enomy Finances | Exchange</h2>
        <div class="row">
        
        
        <div class="inputBox">
            <div class="customerLink">
                <label for="customerName">Customer: </label>
                <select id="customerName">
                    <option value="0">Select Customer</option>
                </select>
            </div>
                <h3>Currency Conversion</h3>
                <div class="userInput">
                <label for="baseCurr">Base Currency:</label>
                <select id="baseCurr" name="baseCurr" onchange="loadGraph()">
                    <option value="GBP">Great British Pounds</option>
                    <option value="USD">US Dollars</option>
                    <option value="EUR">Euro</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="JPY">Japenese Yen</option>
                    <option value="TRY">Turkish Lira</option>
                </select><br></div>
                <div class="userInput">
                <label for="conCurr">Target Currency:</label onchange="loadGraph()">
                <select id="conCurr" name="conCurr">
                    <option value="GBP">Great British Pounds</option>
                    <option value="USD">US Dollars</option>
                    <option value="EUR">Euro</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="JPY">Japenese Yen</option>
                    <option value="TRY">Turkish Lira</option>
                </select><br></div>
                <div class="userInput">
                <label for="baseAmount">Starting Amount:</label>
                <input name="baseAmount" id="baseAmount" type="number">
                </div>
                <div class="buttonContainer">
                    <br><button type="button" id="buttSub" onclick="UpdateConversion()">Convert Now</button>
                </div>
            <p id="converted"></p>
        </div>
        <div class="historyTrans">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Start Curr</th>
                    <th>Target Curr</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Total</th>
                </thead>
                    <tbody id="historyTable"></tbody>
                
            </table>
        </div>
        </div>
        <div class="exchangeGraph">
            <canvas id="historyGraph" width="300px" height="100px"></canvas>
        </div>
    </div>
    
   
</body>
</html>